<div class="container">
    <form>
        <div class="form-group">
            <label for="Avatar">Avatar:</label>
            <input type="text" class="form-control" id="avatar" #avatar>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" #email>
        </div>
        <div class="form-group">
            <label for="team">Equipo:</label>
            <app-equipos></app-equipos>
        </div>
        <button type="submit" class="btn btn-primary form-control">Guardar</button>
    </form>
</div>